<% include header %>
<div class="fullwidth-block content">
					<div class="container">
						<h2 class="entry-title">Wallet India Motors</h2>
						
						<p>Wallet India Motors is India's first standardized workshop to provide car services. We provide affordable, transparent and convenient on-demand car services at the comfort of your home or your office. With expert mechanics, state-of-the-art machinery, top quality spares, standardized processes and pricing, Wallet India Motors provides a uniform service experience to all its customers, across its workshops. Everything under one-roof : servicing, repairs, inspections, denting/painting, roadside assistance and car care.

Wallet India Motors provides best online car service in Ahmedabad making car maintenance easy, affordable and completely transparent. We also provide you with the best car service deals. Full car service is faciliated at one of the Wallet India Motors car service centre. So book car service now!</p>


						<p>
							Are you confused which service center to go after your car warranty period is over ? We assure you that quality service done with best and verified local service center near to your location for wheel alignment and balancing, denting and painting, clutch replacement, suspenion, electrical issues or any other major repairs. Charges are completely transparent. Our company service advisor will monitor and ensure the complete works done with geniune spares and superior quality. We guarantee that you will be able to save up to 40% cost of your car service and maintenance.
						</p>
						
					</div>
				</div>
<% include footer %>
