<% include header %>
	<div class="fullwidth-block content">
					<div class="container">
						<h2 class="entry-title">We have AMC plans which is cheapest in Ahmedabad!</h2>

						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="columns">
  <ul class="price">
    <li class="header">Plan - 1</li>
    <li class="grey">₹2999 / year</li>
    <li>Service - 3</li>
    <li>Wheel Alignemnt - 1</li>
    <li>Wheel Balancing - 1</li>
    <li>Washing and Cleaning - 3</li>
    <li>Engine Tunning - 2</li>
    <li>General Check up - 2</li>
    <li>Scanning - 1</li>
    <li class="grey"><a href="/contact" class="button">Contact Us</a></li>
  </ul>
</div>
<br><br>
							</div>



														<div class="col-md-6 col-sm-12">
								<div class="columns">
  <ul class="price">
    <li class="header">Plan - 2</li>
    <li class="grey">₹3999 / year</li>
    <li>Service - 3</li>
    <li>Wheel Alignemnt - 2</li>
    <li>Wheel Balancing - 2</li>
    <li>Washing and Cleaning - 4</li>
    <li>Engine Tunning - 3</li>
    <li>General Check up - 3</li>
    <li>Scanning - 3</li>
    <li class="grey"><a href="/contact" class="button">Contact Us</a></li>
  </ul>
</div>
<br><br>
							</div>




														<div class="col-md-6 col-sm-12">
								<div class="columns">
  <ul class="price">
    <li class="header">Plan - 3</li>
    <li class="grey">₹4999 / year</li>
    <li>Service - 4</li>
    <li>Wheel Alignemnt - 2</li>
    <li>Wheel Balancing - 2</li>
    <li>Washing and Cleaning - 5</li>
    <li>Engine Tunning - 5</li>
    <li>General Check up - 5</li>
    <li>Engine Oil Change - 1</li>
    <li>Interier Cleaning - 1</li>
    <li>Wax Polish - 1</li>
    <li>A/C Check Up - 2</li>
    <li class="grey"><a href="/contact" class="button">Contact Us</a></li>
  </ul>
</div>
<br><br>
							</div>





														<div class="col-md-6 col-sm-12">
								<div class="columns">
  <ul class="price">
     <li class="header">Plan - 4</li>
    <li class="grey">₹7999 / year</li>
    <li>Service - 5</li>
    <li>Wheel Alignemnt - 3</li>
    <li>Wheel Balancing - 2</li>
    <li>Washing and Cleaning - 5</li>
    <li>Throttle /Engine Clean - 1</li>
    <li>Injector Cleaning</li>
    <li>Engine Tunning - 5</li>
    <li>General Check up - 5</li>
    <li>Engine Oil Change - 1</li>
    <li>Interier Cleaning - 2</li>
    <li>Wax Polish - 2</li>
    <li>A/C Check Up - 2</li>
    <li class="grey"><a href="/contact" class="button">Contact Us</a></li>
  </ul>
</div>
<br><br>
							</div>
							
						</div>
					</div>
				</div>
<% include footer %>
