<% include header %>
	<div class="fullwidth-block content">
					<div class="container">
						<h2 class="entry-title" style="text-align: center;">Book Online your service here!</h2>

						<div class="row">
							<div class="col-md-3">
							</div>
							<div class="col-md-6 col-xm-12">
								<form action="#" class="contact-form">
									<input type="text" id="name" placeholder="Name...">
									<input type="text" id="email" placeholder="Phone Number...">
									<input type="text" id="email" placeholder="Car Model...">
									<textarea name="" id="message" placeholder="Message..."></textarea>
									<div class="" style="text-align: center;">
										<input type="submit" value="Book Now">
									</div>
								</form>
							</div>
					</div>
				</div>
<% include footer %>
