<% include header %>
				<div class="hero hero-slider">
					<ul class="slides" style="height: 600px;">
						<li data-bg-image="images/slide-1.jpg">
							<div class="container">
								<h2 class="slide-title">Car Service</h2>
								<p class="slide-desc">All About Luxurious Car Service from Reparing Denting Painting</p>
								<a href="/book" class="button">Book Appoinment</a>
							</div>
						</li>
						<li data-bg-image="images/slide-2.jpg">
							<div class="container">
								<h2 class="slide-title">Specialization</h2>
								<p class="slide-desc">Specialization in Various Fields from Teflon Coating, Wax Polish, <br>New Insurance, Wheel Balancing, AMC, Denting and painting</p>
								<a href="/book" class="button">Book Appointment</a>
							</div>
						</li>
						<li data-bg-image="images/slide-3.jpg">
							<div class="container">
								<h2 class="slide-title">AMC Contract</h2>
								<p class="slide-desc">We provide AMC plans with lowest price in market</p>
								<a href="/acm" class="button">See Plans</a>
							</div>
						</li>
					</ul>
				</div> <!-- .hero-slider -->

				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title" style="margin : 0px !important; padding: 0px !important;">Wallet India Motors</h2>
						<p class="section-desc">Leading markent for car repairing in Ahmedabad. Services given till now!</p>
						<div class="row">
							<div class="counter">
								<img src="images/icon-car.png" class="counter-icon">
								<h3 class="counter-num">2500</h3>
								<small class="counter-label">car repaired</small>
							</div>
							
							
							<div class="counter">
								<img src="images/icon-wrench.png" class="counter-icon">
								<h3 class="counter-num">5000</h3>
								<small class="counter-label">diagnoses</small>
							</div>
							
							
							<div class="counter">
								<img src="images/icon-gears.png" class="counter-icon">
								<h3 class="counter-num">6000</h3>
								<small class="counter-label">gears changed</small>
							</div>
							<div class="counter last">
								<img src="images/icon-oil.png" class="counter-icon">
								<h3 class="counter-num">1200</h3>
								<small class="counter-label">oil litres used</small>
							</div>
							
						</div>
					</div> <!-- .container -->
					<br>
					<br>
				</div> <!-- .fullwidth-block -->


<div class="fullwidth-block dark-bg" data-bg-color="#1b1b1b">
					<div class="container">
						<h2 class="section-title" style="">Our Specialization<h2>
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<ul style="color: grey">
									<li>Service and Repair</li>
									<li>Washing and cleaning</li>
									<li>Denting and Painting</li>
									<li>Teflon Coating</li>
									<li>Brake down service free at nearest area from the workshop.</li>
								</ul>
							</div>

							<div class="col-md-4 col-sm-6">
								<ul style="color: grey">
									<li>Wax Polish</li>
									<li>Interior cleaning for all material use by 3M Product</li>
									<li>New Insurance</li>
									<li>Insurance renewal</li>
									<li>Sequential CNG system from Argentina fitment</li>
								</ul>
							</div>

							<div class="col-md-4 col-sm-6">
								<ul style="color: grey">
									<li>Wheel alignemnt and balancing</li>
									<li>Auto Consulting</li>
									<li>Annual Maintenance Contract</li>
									<li>Pick up and drop facility available</li>
									<li>Underbody coating</li>
								</ul>
							</div>



							
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->


				<div class="fullwidth-block " data-bg-color="">
					<div class="container">
						<h2 class="section-title" style="">Our Services<h2>
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<ul style="color: grey">
									<li>Quick response</li>
									<li>Better Suggestion</li>
									<li>Better cost</li>
								</ul>
							</div>

<div class="col-md-4 col-sm-6">
								<ul style="color: grey">
									<li>Better Service</li>
									<li>Proper Diagnosis to the car</li>
									<li>Better convenience</li>
								</ul>
							</div>

							<div class="col-md-4 col-sm-6">
								<ul style="color: grey">
									<li>Better discount under AMC</li>
									<li>Company trained mechanic</li>
									<li>High quality performance and etc.</li>
								</ul>
							</div>
							
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->


				<div class="fullwidth-block dark-bg" data-bg-color="#1b1b1b">
					<div class="container">
						<h2 class="section-title">How to Book?</h2>
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="team">
									<h3 class="team-name">Call At</h3><br>
									8469891574 | 9428211600
								</div>
							</div>

							<div class="col-md-4 col-sm-6">
								<div class="team">
									<h3 class="team-name">Vist At</h3><br>
									Beside Vimal Park Society Nr. GEB sub Station<br>
									Naroda-Dehgam Road, <br>
									New Naroda Ahmedabad - 382345
								</div>
							</div>

							<div class="col-md-4 col-sm-6">
								<div class="team">
									<h3 class="team-name">Book Online</h3><br>
								<a href="/book" class="button">Book Appoinment</a>
								</div>
							</div>
							
							
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->

				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Why choose us?</h2>
						<div class="row">
							<div class="col-md-4">
								<div class="feature">
									<div class="feature-icon">
										<img src="images/icon-wheel-white.png">
									</div>
									<h3 class="feature-title">WE MAKE IT EASY</h3>
									<p>Get a quote and book a service online 24/7 or Call at - 8469891574 | 9428211600. Our mechanics will come to your home or office, even on evenings and weekends.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature">
									<div class="feature-icon">
										<img src="images/icon-wrench-white.png">
									</div>
									<h3 class="feature-title">HAPPINESS GUARANTEED</h3>
									<p>We only work with highly rated mechanics. All services are backed by our 12-month / 12,000-mile warranty.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature">
									<div class="feature-icon">
										<img src="images/icon-key-white.png">
									</div>
									<h3 class="feature-title">FAIR AND TRANSPARENT PRICING</h3>
									<p>The cost estimation of car service is still a major problem. How many times you visited to car mechanic near you but you find the difference of cost estimation. We offer fair and transparent pricing .</p>
								</div>
							</div>
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->

				<div class="fullwidth-block dark-bg" data-bg-color="#f63f3f">
					<div class="container">
						<h2 class="section-title">TESTIMONIALS</h2>
						<ul class="news">
							<li>
								<div class="entry-date"><span class="date">3</span><span class="month">Feb, 2018</span></div>
								<div class="entry-summary">Great service by them, super prompt reply and absolutely transparent. I would not dare go to any other car repair service after this. Keep up the great work!<br> "Akshay Singh"</div>
							</li>
							<li>
								<div class="entry-date"><span class="date">30</span><span class="month">Jan, 2018</span></div>
								<div class="entry-summary">Very professional and prompt. They thoughtfully accommodated my last minute service request. Pick up and drop free of cost. No additional labor charge and excellent service! Am very satisfied with the service and attitude and would highly recommend them.<br>"Sri Sai Swaroop"</div>
							</li>
							<li>
								<div class="entry-date"><span class="date">28</span><span class="month">Jan, 2018</span></div>
								<div class="entry-summary">I must say, one of the best services, I got in the recent past. These guys are very professional and most important thing is, you get value for Money. For me, it was new awareness, to experience good quality service, you can get outside your car company service center with much cheaper price.<br>"Ishita Chanana"</div>
							</li>
						</ul>
					</div>
				</div>
<% include footer %>